.main-color {
    color: #2f5349 !important;
}

.main-color-faint {
    color: #2f5349 !important;
    opacity: 0.5 !important;
}

.second-color-background {
    background-color: #EDC974 !important;
}

.bold {
    font-weight: 700 !important;
}

.page-outline {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > div {
        padding: 1.5rem 5rem 1.5rem 1.5rem;
    }
}

.page-outline-left {
    background: #f5f5f5;
}

.page-outline-right {
    background: #EDC974;
}


.page-outline-details-sub {
    color: #2f5349;
    margin-bottom: 2rem;
}

.page-outline-details {
    font-weight: 800;
    font-size: 36px;
    color: #2f5349;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.page-outline-image {
    background-image: url('https://i.ibb.co/WBzxtDF/Image-1.png');
    width: 105%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-left: -1.5rem;
    margin-top: 1rem;
}

.causes-title {
    color: #2f5349;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    padding: 2rem;
}

.causes-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    text-align: center;
    height: 20rem;
    margin: 2rem;
    position: relative;
}

.center-box {
    align-self: center;
}

.causes-header {
    color: #2f5349;
}

.image-icon {
    background: #EDC974;
    padding: 5px;
}

.path-svg {
    position: absolute;
    transform: translate(30px, 15px);
}

.path-svg2 {
    position: absolute;
    transform: translate(40px, -40px);
}

.path-svg3 {
    position: absolute;
    transform: translate(30px, 15px);

}

.donors-companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.donors-companies-image {
    background-image: url('https://i.ibb.co/wLrq0h6/Image-2.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.donor-counts-box {
    background: #2F5349;
}

.donor-counts {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.donations, .volunteer, .testimonials, .footer, .donation-successful  {
    width: 90%;
    margin: auto;
}

.img-health {
    background-image: url('https://i.ibb.co/5h3dwgy/Intersection-6.png');
} 

.img-health, .img-health2, .img-health3 {
    background-size: cover;
    background-position: center;
    height: 250px;
}

.img-health2 {
    background-image: url('https://i.ibb.co/vHcBnN3/Intersection-13.png');
}

.img-health3 {
    background-image: url('https://i.ibb.co/xmhTMRv/Intersection-12.png');
}

.register-box {
    padding: 2rem;
    margin-bottom: 3rem;
    background: #f5f5f5;
}

.register-form {
    display: flex;
    gap: 1rem;
}

.footer {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 2fr;
    gap: 2rem;
    padding: 3.5rem 0 3.5rem 0;
}

.round-icon {
    color: #ffffff;
    background: #2F5349;
    border-radius: 50%;
    font-size: 15px !important;
    padding: 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.no-margin {
    margin: 0;
}

.social-media div{
    padding: 1rem 0 1rem 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-ngo {
    display: grid;
    padding: 0rem 5rem;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
}

.volunteer-input {
    padding: 0.8rem 5rem 0.7rem 0.5rem;
    border: 0.5px solid #2F5349;
}

.register-ngo-text {
    padding: 3rem 5rem;
}

.register-ngo-text-sub {
    width: 60%;
    padding: 1rem 0 1rem 0;
}

.register-ngo-img {
    background-image: url('https://svgshare.com/i/aRV.svg');
    height: 150px;
    background-repeat: no-repeat;
}


.testimonials-box {
    background: #f5f5f5;
}

.testimonial-img {
    background-image: url('https://i.ibb.co/Gxw88vZ/Intersection-11.png');
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    transform: translate(-2rem, -1.7rem);
}

.testimonial-img-box {
    border: #EDC974 solid 2px;
    margin: 2rem;
    width: 300px;
}

.testimonial-grid {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.testimonial-name {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.page-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #00000029;
    border-bottom: 1px solid #EDC974;

    & div {
        padding: 1rem 4rem;
    }
}

.returning-customer {
    background: #CAD3D1;
    border: 0.5px solid #2F5349;
    padding: 0.7rem;
    width: 90%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    margin: 1rem 0 1rem 0;
    display: flex;
    gap: 0.5rem;
    border-radius: 5px;
}

.donation-details-item {
    display: flex;
    justify-content: space-between;
}

.donation-details-box {
    padding: 0.7rem;
    border: 1px solid #2F5349;
    border-radius: 5px;

    & div {
        padding: 3.5px;
    }
}


.foundation-details, .similar-foundation-box {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1.8fr 1fr; 
    width: 90%;
    margin: auto;
}

.similar-foundation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}



.foundation-description {
    padding: 1rem;
}

.foundation-image {
    background-image: url('https://i.ibb.co/wLrq0h6/Image-2.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}  

.foundation-join-deatils-box {
    box-shadow: 0px 3px 6px #00000029; 
    padding: 1rem;
    max-height: 30rem;
    max-width: 18rem; 
    margin-top: 2rem;
}

.foundation-join-deatils {
    text-align: center;
    margin-bottom: 1rem;
}

.donation-successful {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 2rem;
}

.regards-note {
    margin: 2rem 0rem 8rem 0rem;
}

.thank-you-image {
    background-image: url('https://svgshare.com/i/aZ7.svg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.error-response {
    color: red !important;
}

.menu-icon-box {
    display: none;
}

.donations-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

@media (max-width: 1099px) {
    .menu-icon-box {
        display: flex;
        justify-content: flex-end;
    }

    .page-header div {
        padding: 1rem 1rem;
    }

}

@media (max-width: 799px) {
    .page-outline {
        display: block;
    }

    .page-outline-right {
        display: none;
    }

    .page-outline > div {
        padding: 1.5rem 1rem 1.5rem 1.5rem;
    }

    .causes-box {
        height: auto;
    }

    .path-svg, .path-svg2, .path-svg3 {
        display: none;
    }

    .donors-companies {
        display: block;
    } 
    
    .register-form {
        flex-wrap: wrap;
    }

    .foundation-details {
        display: block;
    }

    .foundation-join-deatils-box {
        max-width: inherit;
        display: flex;
        justify-content: space-evenly;
    }

    .hide-donate, .hide-share {
        display: none;
    }

    .similar-foundation-box {
        display: block;
    }
}


@media (max-width: 699px) {
    .causes-box {
        grid-template-columns: 1fr 1fr;
    }

    .donations-group {
        grid-template-columns: 1fr 1fr;
    }

    .testimonial-grid {
        display: block;
    }

    .footer {
        grid-template-columns: 1.8fr 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .footer {
        grid-template-columns: 1.8fr 1fr;
    }
}
